*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppings", sans-serif;
}

.main{
    width: 100%;
    background-image: linear-gradient(to right, whitesmoke, gray);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
    scroll-snap-align: start;
    
}



.navbar{
    width: 86%;
    display:flex;
    margin: auto;
    padding: 50px 0;
    align-items: center;
    justify-content: space-between;
    
    
}

.navbar .Logo{
    width: 160px;
    cursor: pointer;
    margin-left: -2%;
    margin-top: -1%;
    
    
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
    
  
    
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-top: -10%;
    transition: .4s ease;

}

ul li a:hover{
    color: red;
    
}


.info{
    margin-left: 7%;
    margin-top: 3%;
    
}

.info h1{
    font-size: 65px;
    color: rgb(36,32,30);
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.info span{
    color:gray;
}

.info a{
    text-decoration:  none;
    color: #fff;
    background: rgb(36,32,30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}

.info a:hover{
    background: gray;
}

.image{
    width: 30%;
    height: 55%;
    position: absolute;
    right: 100px;
    margin-bottom: 20px;
    bottom: 0;
}

.image img{
    position: absolute;
    border-radius: 50%;
    height: 125%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 2s ease;
}


   

.icons img:hover{
    color: rgb(59,174,209);
}

.slides{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #fff;
    scroll-snap-align: start;
}

.slides img{
    width: 350px;
}


.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    display: grid;
    scroll-snap-align: start;
}


.one{
    background: rgb(153,153,153);
    
} 

.obj{
    margin-top: 12%;
    font-size: 35px;
    text-align: justify; 
    margin-left: 5%;
    margin-right: 5%;
    
}

.about {
    float: right;
    width: 30%;
    height: 62%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 9.5%;
    border: 5px solid #111111;
    border-radius: 50%;
   
    
}


.two p{
    margin-top: 6.1%;
    font-size: 25px;
    text-align: justify; 
    margin-left: 5%;
    margin-right: 5%;
    


}

.one h1{
    text-align: center;
    font-size: 65px;
    color: rgb(36,32,30);
}

.one span{
    color:gray;
}


.two{
    background: rgb(119,119,119);
    
}

.three{
    background: rgb(85,85,85);
    
}

.three h1{
    text-align: center;
    padding-top: 5%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.three h1::after{
    content: '';
    background: whitesmoke;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.row{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.services{
    text-align: center;
    padding: 25px 10px;
    border-radius: 14px;
    cursor: pointer;
    background: transparent;
}

.services h2{
    font-weight: 600;
    margin-bottom: 8px;
}

.services:hover{
    background: whitesmoke;
    color: #111111;
    transform: scale(1.05);
}


.four{
    background: rgb(51,51,51);
}

.four h1{
    text-align: center;
    padding-top: 5%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.four h1::after{
    content: '';
    background: whitesmoke;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.four h2{
    margin-left: 5%;
    font-size: 18px;
}

.four li{
    margin-left: 5%;
    font-size: 18px;
}

.four p{
    margin-left: 5%;
}

.five{
    background: gray;
}

.five h1{
    text-align: center;
    padding-top: 5%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.five h1::after{
    content: '';
    background: whitesmoke;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.five h2{
    margin-left: 5%;
    font-size: 18px;
}

.five p{
    margin-left: 5%;
    font-size: 18px;
}

.six{
    background: gainsboro;
}

.six h1{
    text-align: center;
    padding-top: 5%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.six h1::after{
    content: '';
    background: whitesmoke;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.six h2{
    margin-left: 5%;
    font-size: 18px;
}

.six p{
    margin-left: 5%;
    font-size: 18px;
}

.six li{
    margin-left: 5%;
    font-size: 18px;
}

footer{
    background: #343434;
    padding-top: 50px;
}
.last{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
    scroll-snap-align: start;
}
footer h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}

main a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}